# ==========================
# Python
# ==========================
__pycache__/
*.pyc

# Virtual Environment
.venv/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Trained Models
# ==========================
saved_models_rf/
saved_models_xgb/

*.pkl
*.h5
*.ckpt

# ==========================
# Experiment Outputs
# ==========================
rf_results/
xgb_results/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# Generated logs
Results*.txt